#container {
    width: 1080px;
    height: 240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#button {
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/* LANES */

.safe {
    background-color: lightgreen;
    width: 1080px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
}

.road {
    background-color: grey;
    width: 1080px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
}

.river {
    background-color: dodgerblue;
    width: 1080px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
}

/* FROG */

div.contains-frog {
    background-color: green;
}

.contains-frog {
    width: 24px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
}

.contains-frog::before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: floralwhite;
    border-radius: 2px;
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
}

.contains-frog::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: floralwhite;
    border-radius: 2px;
    position: absolute;
    margin-top: 6px;
    margin-left: 16px;
}

/* CAR MOVING LEFT */

.car-front-left {
    width: 24px;
    height: 24px;
    background-color: #3d3c3c;
    border-radius: 6px 0 0 6px;
}

.car-front-left::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 12px;
    border-radius: 1px;
}

.car-back-left {
    width: 24px;
    height: 24px;
    background-color: #3d3c3c;
    border-radius: 0 6px 6px 0;
}

.car-back-left::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    border-radius: 1px;
}

/* CAR MOVING RIGHT */

.car-front-right {
    width: 24px;
    height: 24px;
    background-color: #3d3c3c;
    border-radius: 0 6px 6px 0;
}

.car-front-right::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 6px;
    border-radius: 1px;
}

.car-back-right {
    width: 24px;
    height: 24px;
    background-color: #3d3c3c;
    border-radius: 6px 0 0 6px;
}

.car-back-right::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    border-radius: 1px;
}

/* TRUCK MOVING LEFT */

.truck-cabin-left {
    width: 24px;
    height: 24px;
    background-color: #b13e3e;
    border-radius: 6px 0 0 6px;
}

.truck-cabin-left::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 1px;
}

.truck-cargo-left {
    width: 24px;
    height: 24px;
    background-color: #c6ccd1;
}

/* TRUCK MOVING RIGHT */

.truck-cabin-right {
    width: 24px;
    height: 24px;
    background-color: #0f4d84;
    border-radius: 0 6px 6px 0;
}

.truck-cabin-right::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 3px;
    margin-left: 6px;
    border-radius: 1px;
}

.truck-cargo-right {
    width: 24px;
    height: 24px;
    background-color: #c6ccd1;
}

/* LOG */

.log-left {
    width: 24px;
    height: 24px;
    background-color: saddlebrown;
}

.log-right {
    width: 24px;
    height: 24px;
    background-color: saddlebrown;
}

.long-log-left {
    width: 24px;
    height: 24px;
    background-color: saddlebrown;
}

.long-log-right {
    width: 24px;
    height: 24px;
    background-color: saddlebrown;
}

#lose {
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #b13e3e;
}

#win {
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #08a138;
}

.message-text {
    font-size: 48px;
    margin: auto;
}

