#container {
    width: 1125px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#button {
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/* LANES */

.safe-lane {
    background-color: lightgreen;
    width: 1125px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.road-lane {
    background-color: grey;
    width: 1125px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.river-lane {
    background-color: dodgerblue;
    width: 1125px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;
    display: inline;
    flex-wrap: wrap;
}

/* FROG */

#frog {
    width: 25px;
    height: 25px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#frog::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: floralwhite;
    border-radius: 2px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

#frog::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: floralwhite;
    border-radius: 2px;
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
}

/* CAR MOVING RIGHT */

.car-front-right {
    width: 25px;
    height: 25px;
    background-color: #3d3c3c;
    border-radius: 0 5px 5px 0;
}

.car-front-right::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 1px;
}

.car-back-right {
    width: 25px;
    height: 25px;
    background-color: #3d3c3c;
    border-radius: 5px 0 0 5px;
}

.car-back-right::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    border-radius: 1px;
}

/* CAR MOVING LEFT */

.car-front-left {
    width: 25px;
    height: 25px;
    background-color: #3d3c3c;
    border-radius: 5px 0 0 5px;
}

.car-front-left::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 15px;
    border-radius: 1px;
}

.car-back-left {
    width: 25px;
    height: 25px;
    background-color: #3d3c3c;
    border-radius: 0 5px 5px 0;
}

.car-back-left::before {
    content: '';
    width: 5px;
    height: 18px;
    background-color: lightblue;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    border-radius: 1px;
}